[user]
# Please adapt and uncomment the following lines:
	name = mwitcraft
	email = mason.witcraft@example.com
[alias]
# Commit
	ci = commit
	cim = commit -m
	cia = commit --amend --no-edit
	ciwip = commit -m "wip"
# Other
	lg = log --pretty=oneline --abbrev-commit
	st = status -s
	co = checkout
	pm = pull origin master

