# To load this config, add the following to your .gitconfig file:
#[include]
#	path = C:/Users/Mason.Witcraft/git/config_files/git/.gitconfig

[user]
	name = mwitcraft
	email = mason.witcraft@ineight.com
[alias]
	ci = commit
	cim = commit -m
	cia = commit --amend --no-edit
	ciwip = commit -m "wip"
	lg = log --pretty=oneline --abbrev-commit
	st = status -s
	co = checkout
	pm = pull origin master

